@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");

/* Navbar styles */
.body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.default-layout__inner {
  box-shadow: 0px 10px 20px rgba(36, 0, 70, 0.05);
  padding: 2rem 0 2rem 0;
  margin: auto;
}

.navbar-logo {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  height: 30px;
  font-size: 30px;
  color: #0c1e7f;
}

.navigation {
  display: none;
  width: 75%;
}
.list-item {
  font-family: "Poppins", sans-serif;
  font-size: 16px;

  color: #0c1e7f;
  list-style: none;
  cursor: pointer;
}