@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");

/* Navbar styles */
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.default-layout__inner {
  background-color: #08192d;
}

.navbar-logo {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  height: 30px;
  font-size: 30px;
  color: #ffffff;
}

.home-section {
  height: 800px;
  background: #0a183d;
}
.hero-section {
  width: 80%;
  margin: auto;
}

.input-searchbar-section {
  /* width: 70%;
  margin: auto; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-icon {
  position: relative;
  right: 50px;
  top: 20px;
}

.input-search {
  width: 60%;
  height: 40px;
  border-radius: 8px;
  margin-top: 50px;
  border: 1px solid var(--bc-darker);
  outline: none;
  padding-left: 30px;
  opacity: 0.4;
}
::placeholder {
  color: black;
  opacity: 1;
}

.card {
  margin-top: 3rem;
  width: 20rem;
  background-size: contain;
  background: #0a183d;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.card:hover {
  transform: scale(1.1);
}
.artiste-image {
  transition: transform 0.5s;
}
