@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");

/* Navbar styles */
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.default-layout__inner {
  background-color: black;
}

.navbar-logo {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  height: 30px;
  font-size: 30px;
  color: #ffffff;
}

.home-section {
  height: 800px;
}
.hero-section {
  width: 80%;
  margin: auto;
}

.input-searchbar-section {
  /* width: 70%;
  margin: auto; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-icon {
  position: relative;
  right: 50px;
  top: 20px;
}

.input-search {
  width: 60%;
  height: 40px;
  border-radius: 8px;
  margin-top: 50px;
  outline: none;
  border: 1px solid black;
  padding-left: 30px;
}
::placeholder {
  color: black;
  opacity: 1;
}

.card-flex {
  display: flex;
  gap: 3rem;
}
.card {
  margin-top: 3rem;
  width: 20rem;
  background-size: contain;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.card:hover {
  transform: scale(1.1);
}

.image-section:hover {
  transform: scale(1.1);
  opacity: 0.5;
}
.artiste-image {
  transition: transform 0.5s;
}

.card-img-overlay {
  display: flex;
  justify-content: center;
}
.card-text {
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
}
.artiste-description {
  font-size: 0.8rem;
  font-weight: normal;
  margin-top: -10px;
}

.view-more-button-section {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.view-more-button {
  background-color: black;
  border: none;
  color: white;
  width: 8rem;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}
@media screen and (max-width: 768px) {
  .hero-section {
    width: 100%;
    margin: auto;
  }
  .card-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
