.img-header {
  height: 60vh;
  width: 200%;
}
.artist-img {
  width: 45%;
  margin-top: -250px;
  border-radius: 50%;
}
.artist-details-container {
  width: 70%;
}

.artist-details {
  width: 27%;
}
.artist-name {
  font-weight: 600;
  font-size: 35px;
}
.album-title {
}
.artist-library {
    
}
